.custom-border {
    border-color: #ddb341;
    border-width: 2px;
    border-radius: 12px;
}

.custom-border-focus:focus {
    border-color: #9b5f05; /* Cor verde para o foco */
    box-shadow: none; /* Remove o shadow padrão */
}

.background-gradient {
    position: relative;
    background: linear-gradient(to bottom, #ad5605, #ffe600);
}

.doguinho{
    position: absolute;
    bottom: 59px;  /* Ajuste o valor para alinhar a imagem verticalmente sobre o input */
    left: 120px;  /* Coloca a imagem encostada à direita do input */
    height: 48px;  /* Ajuste o tamanho da imagem, se necessário */
}

.dogfriends{
    position: absolute;
    bottom: 0;  /* Ajuste o valor para alinhar a imagem verticalmente sobre o input */  /* Coloca a imagem encostada à direita do input */
    left: 0; /* Alinha a imagem à esquerda */
    max-width: 100%; /* Garante que a imagem não ultrapasse os limites da coluna */
    height: auto;

}