/* Define a cor de fundo do calendário */
.react-datepicker {
    background-color: #9e6340; /* Exemplo de cor de fundo mais escura */
    border-radius: 0.5rem; /* Borda arredondada para o calendário */
    color: #ffffff; /* Cor do texto */
  }
  
  /* Define a cor dos dias selecionados e com hover */
  .react-datepicker__day--selected,
  .react-datepicker__day:hover {
    background-color: #754825 ; /* Exemplo de cor de fundo para o dia selecionado */
    
  }
  
  /* Define a cor dos dias que não estão no mês atual */
  .react-datepicker__day--outside-month {
    color: darkslategrey; /* Cor mais clara para dias fora do mês */
  }

  .react-datepicker__header {
    background-color: #774c2d; /* Cor de fundo marrom escuro */
  }

  .react-datepicker__current-month {
    color: white; /* Cor do nome do mês */
  }

  .react-datepicker__day-name {
    color: white; /* Cor marrom escuro */
    font-weight: bold; /* Deixa o nome do dia em negrito */
  }

  .react-datepicker__day {
    color: white; /* Cor marrom claro para os dias */
  }